/* 
--------------------------------------------------
More game
style.css

10/18/2010
--------------------------------------------------
*/

/* @group global styles */

@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre {
	margin: 0;
	padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

a{
	border:0;
	text-decoration:none;
}


.green{
	color:#58B742;
	font-weight:bolder;
	/*margin-left:8px;*/
	font-size:14px;
}

.gray{
	color:#7A7272;
}


h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bolder;
	
}

/*end @group global styles */

body{
	background-color:#DDDDDD;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:8px;
	padding-right:8px;
}

.moregame{
	width:100%px;
	height:854px;	
}


.whole{
	background-color:#FFFFFF;
	border:#CAC9C9 1px solid;
	display:block;
	height:120px;
	margin-bottom:2px;
}


.moregame a span img{
	border:0;
}

.moregame a span.icon{
	float:left;
	display:block;
    width:120px;
	height:110px;
	border:0;
	line-height:12ppx;
	text-align:center;
	padding-top:10px;
	margin-right:5px;

}

.moregame a span.world{
	display:block;
	height:112px;
	border:0;
	padding-top:8px;
	font-size:14px;
	color:#655C5C;
	text-decoration:none;
	list-style:none;
}

.black{
	color:#000000;
	font-size:18px;
	font-weight:bolder;
	display:block;
	margin-bottom:3px;
}

.moregame a span.button{
	float:right;
	border:0;
	display:block;
	margin-right:12px;
}

